<!-- Modal Xác nhận huỷ hoá đơn -->
<div class="modal fade" id="cancelInvoiceConfirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Huỷ hoá đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn huỷ? Các thông tin đã nhập sẽ không được lưu lại.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmCancelInvoiceBtn">Xác nhận</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Huỷ bỏ</button>
            </div>
        </div>
    </div>
</div>