<!-- Modal Xác nhận xoá hoá đơn -->
<div class="modal fade" id="deleteInvoiceConfirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá hoá đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xoá hoá đơn <strong id="deleteInvoiceId">HD001</strong> không? Thao tác này
                    không thể hoàn tác.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteInvoiceBtn">Xác nhận
                </button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Huỷ bỏ</button>
            </div>
        </div>
    </div>
</div>